################################################################################
# This .gitignore file is manually maintained
################################################################################

/Samples/Desktop/D3D12Raytracing/src/D3D12RaytracingMiniEngineSample/dxcompiler.dll
/Libraries/D3D12RaytracingFallback/src/FallbackLayerUnitTests/x64/
/Packages

**/bin/x64
**/obj/x64
**/src/packages
**/src/bin
**/src/obj
**/.vs

*.hlsl.h
**/Build_VS16
**/Build

*.vcxproj.user
*.opendb
Samples/Desktop/D3D12HelloWorld/src/HelloVAResourceInterop/*.h264
Samples/Desktop/D3D12HelloWorld/src/HelloVAEncode/*.h264
/MiniEngine/LUTResample/x64/Debug
/MiniEngine/LUTResample/x64/Release
/MiniEngine/ModelViewer/x64/Debug
/MiniEngine/ModelViewer/x64/Release
/MiniEngine/TransferMatrix/TIR.ipynb
/MiniEngine/LUTValidate/x64/Debug/LUTValidate.obj
/MiniEngine/LUTValidate/x64/Debug/vc143.idb
/MiniEngine/LUTValidate/x64/Debug/vc143.pdb
/MiniEngine/TransferMatrix/__pycache__
/MiniEngine/TransferMatrix/renders
/MiniEngine/TransferMatrix/energyleakage
/MiniEngine/TransferMatrix/comparisons
/MiniEngine/LUTValidate/x64/Debug/LUTValidate.obj
/MiniEngine/LUTValidate/x64/Debug/vc143.idb
/MiniEngine/LUTValidate/x64/Debug/vc143.pdb
/MiniEngine/TransferMatrix/comparison.ipynb
/MiniEngine/TransferMatrix/copper.exr
/MiniEngine/TransferMatrix/Copper.png
/MiniEngine/TransferMatrix/decorrelatedreference.bin
/MiniEngine/TransferMatrix/FGD.ipynb
/MiniEngine/TransferMatrix/FGDBelcour.dds
/MiniEngine/TransferMatrix/FGDLUTMSE.png
/MiniEngine/TransferMatrix/FGDSplitSum.bin
/MiniEngine/TransferMatrix/naivereference.bin
/MiniEngine/TransferMatrix/startup.cap
/MiniEngine/TransferMatrix/test.py
/MiniEngine/TransferMatrix/TIRapprox.bin
/MiniEngine/TransferMatrix/tm_FGD.bin
/MiniEngine/TransferMatrix/tm_FGDnumpy.bin
/MiniEngine/TransferMatrix/tm_FGD_resample.bin
/MiniEngine/TransferMatrix/tm_FGD_validate.bin
/MiniEngine/LUTValidate/tm_FGD_resample.bin
/MiniEngine/LUTValidate/tm_FGD_validate.bin
/MiniEngine/TransferMatrix/perf
/MiniEngine/ModelViewer/dragon.glb
/MiniEngine/ModelViewer/dragon.mini
/MiniEngine/ModelViewer/imgui.ini
/MiniEngine/ModelViewer/Resources.zip
/MiniEngine/ModelViewer/TestSphere2.glb
/MiniEngine/ModelViewer/TestSphere2.mini
/MiniEngine/ModelViewer/tm_FGD_resample.bin
